body {
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
}
@media (width > 768px) {
  .swiper {
    height: 100vh;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 0 1.25rem;
  justify-content: space-between;
  z-index: 2;
}
@media (width > 768px) {
  .header {
    padding: 0 6.25rem;
  }
}

.header__logo-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  max-width: 100px;
  aspect-ratio: 3/1;
  overflow: hidden;
}
@media (width > 768px) {
  .header__logo-container {
    margin-top: 0;
  }
}

.header__logo {
  max-width: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  display: none;
}
@media (width > 768px) {
  .nav {
    display: block;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__list-item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav__list-item:hover {
  color: #001f3f;
}

.nav__list-link {
  padding: 0.625rem 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav__list-link:link {
  color: #f1f1f1;
}
.nav__list-link:link:hover {
  color: #001f3f;
}
.nav__list-link:visited {
  color: #f1f1f1;
}
.nav__list-link:visited:hover {
  color: #001f3f;
}

.nav-mobile {
  overflow: hidden;
}
@media (width > 768px) {
  .nav-mobile {
    display: none;
  }
}

.nav-mobile.show {
  display: block;
}
@media (width > 768px) {
  .nav-mobile.show {
    display: none;
  }
}

.nav-toggle {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
}
@media (width > 768px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle__button {
  position: relative;
  width: 100%;
  height: 1px;
  border: none;
  background-color: #545454;
  transition: all 0.2s ease-in-out;
}
.nav-toggle__button:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #545454;
  transition: all 0.2s ease-in-out;
}
.nav-toggle__button:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #545454;
  transition: all 0.2s ease-in-out;
}

.nav-toggle__button.open {
  background-color: transparent;
}
.nav-toggle__button.open:before {
  top: 0;
  background-color: #f1f1f1;
  transform: rotate(45deg);
}
.nav-toggle__button.open:after {
  bottom: 0;
  background-color: #f1f1f1;
  transform: rotate(135deg);
}

.nav-mobile__list {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 60px 0 0 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(200%);
  background-color: #001f3f;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.nav-mobile__list.show {
  transform: translateX(0%);
}

.nav-mobile__list-item {
  position: relative;
  padding: 20px 40px;
  transition: all 0.2s ease-in-out;
}
.nav-mobile__list-item:hover {
  background-color: #f1f1f1;
}
.nav-mobile__list-item:hover .nav-mobile__list-link {
  color: #001f3f;
}

.nav-mobile__list-link {
  font-family: "Lato", sans-serif;
  color: #f1f1f1;
  text-decoration: none;
}
.nav-mobile__list-link:after {
  position: absolute;
  content: "";
  inset: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 0;
}
@media (width > 768px) {
  .hero {
    padding: 0;
    height: 56.25rem;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 31, 63, 0.8) -20%, rgba(241, 241, 241, 0));
  z-index: 1;
}

.hero__content {
  position: absolute;
  top: 30%;
  padding: 20px;
  z-index: 1;
}
@media (width > 768px) {
  .hero__content {
    top: 25%;
    left: 0;
    right: 0;
    padding-left: 6.25rem;
    max-width: 37.5rem;
  }
}

.hero__title {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #f1f1f1;
}
@media (width > 768px) {
  .hero__title {
    font-size: 4.5rem;
  }
}

.hero__subhead {
  margin-bottom: 3.125rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #f1f1f1;
}

.hero__cta {
  padding: 1.25rem 1.5625rem;
  border: none;
  background-color: #4097b2;
  border-radius: 0.3125rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #f1f1f1;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hero__cta:hover {
  background-color: #f1f1f1;
  color: #001f3f;
}
.hero__cta:nth-of-type(2) {
  background-color: transparent;
  color: #f1f1f1;
  border: 2px solid #f1f1f1;
}
.hero__cta:nth-of-type(2):hover {
  background-color: #001f3f;
  color: #f1f1f1;
  border: 2px solid #001f3f;
}

.hero__cta-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5625rem;
  text-align: center;
}
@media (width > 768px) {
  .hero__cta-group {
    flex-direction: row;
    text-align: left;
  }
}

.hero__video-container {
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media (width > 768px) {
  .hero__video-container {
    position: absolute;
    inset: 0;
  }
}

.hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30%;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
@media (width > 768px) {
  .hero__video {
    object-position: cover;
  }
}

.why-choose-us {
  padding: 5rem 0 0 0;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.why-choose-us__container {
  text-align: center;
}
@media (width > 768px) {
  .why-choose-us__container {
    padding: 0;
  }
}

.why-choose-us__section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.why-choose-us__section-container--dark {
  background-color: #001f3f;
  color: #fff;
}

.why-choose-us__title {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #001f3f;
}
@media (width > 1024px) {
  .why-choose-us__title {
    font-size: 3rem;
  }
}

.why-choose-us__title--light {
  color: #fff;
}

.text-media {
  display: flex;
  max-width: 1440px;
  gap: 3.125rem;
  flex-direction: column;
  padding-bottom: 3.125rem;
  opacity: 0;
  visibility: hidden;
}
@media (width > 1024px) {
  .text-media {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    padding: 6.25rem;
  }
}

@media (width > 1024px) {
  .text-media.flipped {
    flex-direction: row-reverse;
  }
}

.text-media.animate {
  opacity: 1;
  visibility: visible;
}

.text-media.from-left.animate {
  animation: slide-in-left 0.9s ease-out, fade-in 1.7s ease-out;
}

.text-media.from-right.animate {
  animation: slide-in-right 0.9s ease-out, fade-in 1.7s ease-out;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text-media__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}
@media (width > 1024px) {
  .text-media__media {
    width: 50%;
  }
}

.text-media__media-container {
  width: 100%;
  max-height: 31.25rem;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(84, 84, 84, 0.25);
}
@media (width > 1024px) {
  .text-media__media-container {
    border-radius: 0.3125rem;
    aspect-ratio: 1/2;
  }
}

.text-media__media-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.text-media__text {
  padding: 0 20px;
  font-family: "Lato", sans-serif;
  text-align: left;
}
@media (width > 1024px) {
  .text-media__text {
    padding: 0;
    width: 50%;
  }
}

.text-media__list {
  list-style: none;
  padding: 0 20px;
}

.text-media__list-item {
  padding: 0.625rem 0;
  cursor: pointer;
}

.text-media__list-title {
  margin: 0 0 0.625rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: #545454;
}

.text-media__list-title--light {
  color: #fff;
}

.text-media__list-body {
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
  line-height: 1.4;
}
@media (width > 1024px) {
  .text-media__list-body {
    font-size: 1.5rem;
  }
}

.text-media__list-body--light {
  color: #fff;
}

.goals {
  position: relative;
  text-align: center;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.goals::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.7);
}

.goals__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../src/images/AdobeStock_479449130 Large.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.goals-container {
  position: relative;
  margin: 0 auto;
  padding: 5%;
  max-width: 1440px;
  z-index: 1;
}

.goals__title {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
}
@media (width > 1024px) {
  .goals__title {
    font-size: 3rem;
  }
}

@media (width > 768px) {
  .goals-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}

.goals-cards__card {
  padding: 3.125rem 1.875rem;
  border-radius: 1.25rem;
}

.goals-cards__media {
  height: 50px;
}

.goals-cards__card-image {
  width: 2.1875rem;
  aspect-ratio: 1/1;
}

.goals-cards__card-title {
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
}

.goals-cards__card-body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.6;
}

.insta {
  width: 100%;
}
@media (width > 768px) {
  .insta {
    display: flex;
    justify-content: center;
  }
}

.insta-container {
  padding: 70px 0;
  text-align: center;
}

.insta__title {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #545454;
}
@media (width > 1024px) {
  .insta__title {
    font-size: 3rem;
  }
}

.insta__subhead {
  padding-bottom: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #545454;
}

.insta-feed {
  display: grid;
  grid-template-columns: repeat(4, minmax(175px, 1fr));
  grid-template-rows: repeat(2, minmax(0, 250px));
  gap: 18px;
  margin: 3.125rem 0 5rem;
  padding: 0 20px;
  overflow-x: scroll;
}
@media (width > 768px) {
  .insta-feed {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(0, 250px));
    padding: 0;
    overflow-x: auto;
  }
}

.insta-feed__image-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #f1f1f1;
  font-size: 0.5rem;
  line-height: 1.7;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
@media (width > 768px) {
  .insta-feed__image-title {
    font-size: 0.875rem;
  }
}

.insta-feed__image-container {
  position: relative;
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(50, 50, 50, 0.25);
}
.insta-feed__image-container:before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: #4097b2;
  transition: all 0.2s ease-in-out;
}
.insta-feed__image-container:hover .insta-feed__image-title {
  opacity: 1;
}
.insta-feed__image-container:hover:before {
  opacity: 0.95;
}

@media (width > 768px) {
  .insta-feed__image-container--0 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--1 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--2 {
    grid-column: 4/5;
    grid-row: 3/5;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--4 {
    grid-column: 3/4;
    grid-row: 3/5;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--6 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

@media (width > 768px) {
  .insta-feed__image-container--7 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

.insta-feed__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.6);
}

.contact__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/images/AdobeStock_679323640 Large.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 12%;
  text-align: center;
  border-radius: 0.9375rem;
  max-width: 90rem;
  gap: 50px;
  z-index: 1;
}
.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.5625rem 1.5625rem 1.5625rem;
}
@media (width > 768px) {
  .contact-content {
    width: 50%;
  }
}

.contact__title {
  padding-bottom: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #f1f1f1;
  text-align: center;
}
@media (width > 768px) {
  .contact__title {
    text-align: left;
    font-size: 3rem;
  }
}

.contact__body {
  max-width: 85%;
  text-align: left;
}

.contact__body-item {
  padding-bottom: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #f1f1f1;
  line-height: 1.2;
}

.contact-form-container {
  width: 100%;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.125rem 2.125rem 2.125rem 1.25rem;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.3125rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
@media (width > 768px) {
  .contact-form {
    align-items: flex-start;
    padding: 3.125rem;
    width: 800px;
  }
}

.contact-form__label {
  margin-bottom: 0.3125rem;
  font-family: "Lato", sans-serif;
  color: #001f3f;
  text-align: left;
}

.contact-form__input {
  padding: 0.9375rem 0.5rem;
  width: 100%;
  margin-bottom: 0.625rem;
  background-color: #f1f1f1;
  border-radius: 0.3125rem;
  border: none;
}

.contact-form__textbox {
  margin-bottom: 1.25rem;
  padding: 0.9375rem 0.5rem;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 0.3125rem;
  border: none;
}

.contact-form__submit {
  padding: 1rem 4rem;
  background-color: #398bab;
  color: #f1f1f1;
  border: 2px solid transparent;
  border-radius: 0.3125rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.contact-form__submit:hover {
  background-color: #f1f1f1;
  color: #001f3f;
  border: 2px solid #001f3f;
}

.booking {
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #001f3f;
}

.booking-container {
  padding: 20px;
  text-align: center;
}
@media (width > 768px) {
  .booking-container {
    padding: 6.25rem;
  }
}

.booking__title {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #f1f1f1;
}
@media (width > 1024px) {
  .booking__title {
    font-size: 3rem;
  }
}

.newsletter {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12.5rem 0;
  gap: 50px;
  overflow: hidden;
}

.newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.7);
  z-index: 0;
}

.newsletter__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/images/AdobeStock_316760692 Large.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
}

.newsletter__title {
  position: relative;
  width: 550px;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1;
  color: #f1f1f1;
  text-align: center;
  z-index: 1;
}
@media (width > 768px) {
  .newsletter__title {
    text-align: left;
    font-size: 3rem;
  }
}

.newsletter-form {
  position: relative;
  display: flex;
  z-index: 1;
}

.newsletter-form__input {
  width: 250px;
  padding: 1.25rem 0.625rem;
}
@media (width > 768px) {
  .newsletter-form__input {
    width: 300px;
  }
}

.newsletter-form__button {
  padding: 1.5625rem 3.125rem;
  background-color: #001f3f;
  border: 1px solid #001f3f;
  color: #f1f1f1;
}

.footer {
  width: 100%;
  background-color: #fff;
}
@media (width > 768px) {
  .footer {
    padding: 0;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 3.125rem;
}
@media (width > 375px) {
  .footer-content {
    align-items: center;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.footer__logo-container {
  max-width: 200px;
  height: auto;
  overflow: hidden;
}

.footer__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-links {
  padding: 0 20px;
  list-style: none;
}
@media (width > 768px) {
  .footer-links {
    display: flex;
    flex-direction: column;
  }
}

.footer-links__item {
  margin-bottom: 20px;
}
.footer-links__item:hover a {
  color: #398bab;
}

.footer-links__item a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #252525;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.footer-contact {
  display: flex;
  padding: 0 20px;
  list-style: none;
  gap: 1.25rem;
}
@media (width > 768px) {
  .footer-contact {
    gap: 20px;
  }
}

.footer-contact__item {
  margin-bottom: 20px;
  max-width: 25px;
  aspect-ratio: 1/1;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #252525;
  text-decoration: none;
  cursor: pointer;
}

.footer-contact__item-image {
  width: 100%;
  height: 100%;
}

.footer-legal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #252525;
}
@media (width > 768px) {
  .footer-legal {
    padding: 0.625rem 3.125rem;
    text-align: center;
  }
}

.footer-legal__item {
  text-decoration: none;
  color: #252525;
}

/*# sourceMappingURL=style.css.map */
