// Colors
$dark: #252525;
$dark-gray: #545454;
$blue: #162B57;
$sky-blue: #4097B2;
$ocean-blue: #398BAB;
$beige: #c0b1a1;
$light: #f1f1f1;

$navy-blue: #001F3F;
$cool-gray: #A9A9A9;
$teal: #0074A8;
$gold: #DAA520;

// Media Query Sizes
$sm: 375px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

// Fonts
$ff-main: 'Lato', sans-serif;

$fw-light: 300;
$fw-reg: 400;
$fw-med: 500;
$fw-semi: 600;
$fw-bold: 700;
$fw-extra: 900;
$fw-black: 900;