.about {
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: rem(80px 20px);
  text-align: center;
  background-color: $light;

  @include size($lg) {
    padding: rem(80px);
  }
}

.about-content {
  display: flex;
  flex-direction: column;
  text-align: center;

  @include size($lg) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
  }
}

.about__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;

  @include size($lg) {
    width: 50%;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(20px);
  text-align: center;
  line-height: 1.9;
  background-color: #f5f5f5;

  @include size($lg) {
    padding: rem(80px);
    width: 50%;
    border-radius: 5px;
  }
}

.about__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(350px);
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: rem(50px);

  @include size($lg) {
    width: rem(400px);
  }
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: rem(5px);
}

.about__title {
  margin-bottom: rem(24px);
  font-family: $ff-main;
  font-weight: $fw-med;
  font-size: rem(24px);
  color: $dark;

  @include size($lg) {
    font-size: rem(48px);
  }
}

.about__body {
  font-family: $ff-main;
  text-align: left;
  color: #424242;
}
