.booking {
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: $navy-blue;
}

.booking-container {
  padding: 20px;
  text-align: center;

  @include size($md) {
    padding: rem(100px);
  }
}

.booking__title {
  margin: 150px 0 0 0;
  font-family: $ff-main;
  font-weight: $fw-med;
  font-size: rem(24px);
  color: $light;

  @include size($lg) {
    font-size: rem(48px);
  }
}
