.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  min-height: 100vh;
  background-color: $navy-blue;
  scroll-snap-align: start;
}

.booking-container {
  padding: 20px;
  text-align: center;
  @include size($md) {
    padding: rem(100px);
  }
}

.booking__title {
  font-family: $ff-main;
  font-weight: $fw-bold;
  font-size: rem(48px);
  color: $light;
}