.contact {
  position: relative;
  width: 100%;
  min-height: 900px;
  background-image: url("../src/images/AdobeStock_679323640 Large.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.6);
}

.contact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 12%;
  // background: rgb(49,72,97);
  // background: linear-gradient(90deg, rgba(49,72,97,1) 35%, rgba(101,143,176,1) 100%);
  text-align: center;
  border-radius: rem(15px);
  max-width: rem(1440px);
  gap: 50px;
  z-index: 1;

  @include size($md) {
  }
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(0 25px 25px 25px);

  @include size($md) {
    width: 50%;
  }
}

.contact__title {
  padding-bottom: rem(40px);
  font-family: $ff-main;
  font-weight: $fw-med;
  font-size: rem(24px);
  color: $light;
  text-align: center;

  @include size($md) {
    text-align: left;
    font-size: rem(48px);
  }
}

.contact__body {
  max-width: 85%;
  text-align: left;
}

.contact__body-item {
  padding-bottom: rem(20px);
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(18px);
  color: $light;
  line-height: 1.2;
}

.contact-form-container {
  width: 100%;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: rem(34px 34px 34px 20px);
  flex-direction: column;
  background-color: #fff;
  border-radius: rem(5px);
  box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.25);

  @include size($md) {
    align-items: flex-start;
    padding: rem(50px);
    width: 800px;
  }
}

.contact-form__label {
  margin-bottom: rem(5px);
  font-family: $ff-main;
  color: $navy-blue;
  text-align: left;
}

.contact-form__input {
  padding: rem(15px 8px);
  width: 100%;
  margin-bottom: rem(10px);
  background-color: $light;
  border-radius: rem(5px);
  border: none;
}

.contact-form__textbox {
  margin-bottom: rem(20px);
  padding: rem(15px 8px);
  width: 100%;
  background-color: $light;
  border-radius: rem(5px);
  border: none;
}

.contact-form__submit {
  padding: rem(16px 64px);
  background-color: $ocean-blue;
  color: $light;
  border: 2px solid transparent;
  border-radius: rem(5px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $light;
    color: $navy-blue;
    border: 2px solid $navy-blue;
  }
}
