.footer {
  background-color: $navy-blue;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: rem(50px);

  @include size($md) {
    flex-direction: row;
  }
}

.footer-column {
}

.footer__logo {
}

.footer-links {
  padding: 0 20px;
  list-style: none;

  @include size($md) {
    display: flex;
    gap: 20px;
  }

} 

.footer-links__item {
  margin-bottom: 20px;
}

.footer-links__item a {
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(18px);
  color: $light;
  text-decoration: none;
}

.footer-contact {
  padding: 0 20px;
  list-style: none;

  @include size($md) {
    display: flex;
    gap: 20px;
  }
}

.footer-contact__item {
  margin-bottom: 20px;
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(18px);
  color: $light;
  text-decoration: none;
  cursor: pointer;
}

.footer-legal {
  padding: rem(10px 20px);
  font-size: rem(14px);
  font-family: $ff-main;
  font-weight: $fw-reg;
  color: $light;

  @include size($md) {
    padding: rem(10px 50px);
    text-align: center;
  }
}
