.goals {
  position: relative;
  text-align: center;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.goals::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.7);
}

.goals__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../src/images/AdobeStock_479449130 Large.webp");
  background-position: center;
  background-size: cover;
  z-index: -1;

  @include size($md) {
    background-attachment: fixed;
  }
}

.goals-container {
  position: relative;
  margin: 0 auto;
  padding: 5%;
  max-width: 1440px;
  z-index: 1;
}

.goals__title {
  font-family: $ff-main;
  font-weight: $fw-med;
  font-size: rem(24px);
  color: #fff;

  @include size($lg) {
    font-size: rem(48px);
  }
}

.goals-cards {
  @include size($md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}

.goals-cards__card {
  padding: rem(50px 30px);
  border-radius: rem(20px);
}

.goals-cards__media {
  height: 50px;
}

.goals-cards__card-image {
  width: rem(35px);
  aspect-ratio: 1/1;
}

.goals-cards__card-title {
  padding-bottom: 20px;
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(24px);
  color: #fff;
}

.goals-cards__card-body {
  font-family: $ff-main;
  font-weight: $fw-light;
  font-size: rem(20px);
  color: #fff;
  line-height: 1.6;
}
