.hero {
  position: relative;
  overflow: hidden;

  @include size($md) {
    padding: 0;
    height: 100vh;
  }
}

.hero__overlay {
  @include size($md) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($navy-blue,0.8) -20%, rgba($light,0.0));
    z-index: 1; 
  }
}

.hero__content {
  padding: 20px;

  @include size($md) {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    padding-left: rem(100px);
    max-width: rem(600px);
  }
}

.hero__title {
  margin-bottom: rem(0);
  font-family: $ff-main;
  font-weight: $fw-bold;
  font-size: rem(32px);
  color: $dark-gray;

  @include size($md) {
    font-size: rem(72px);
    color: $light;
  }
}

.hero__subhead {
  margin-bottom: rem(50px);
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(18px);
  color: $dark-gray;

  @include size($md) {
    color: $light;
  }
}

.hero__cta {
  padding: rem(20px 25px);
  border: none;
  background-color: $sky-blue;
  border-radius: rem(5px);
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(18px);
  color: $light;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $light;
    color: $navy-blue;
  }

  &:nth-of-type(2) {
    background-color: transparent;
    color: $light;
    border: 2px solid $light;

    &:hover {
      background-color: $light;
      color: $navy-blue;
    }
  }
}

.hero__cta-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: rem(25px);
  text-align: center;

  @include size($md) {
    flex-direction: row;
    text-align: left;
  }
}

.hero__video-container {
  width: 100%;
  height: 100%;
  z-index: -1;

  @include size($md) {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hero__video {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg); 
}