.nav {

}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__list-item {
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    color: $navy-blue;
  }
}

.nav__list-link {
  padding: rem(10px 20px);
  font-family: $ff-main;
  font-weight: $fw-reg;
  font-size: rem(18px);
  color: $light;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:link {
    color: $light;
    &:hover {
      color: $navy-blue;
    }
  }

  &:visited {
    color: $light;
    &:hover {
      color: $navy-blue;
    }
  }
}
