.newsletter {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(150px 0);
  overflow: hidden;

  @include size($md) {
    gap: 50px;
  }
}

.newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.7);
  z-index: 0;
}

.newsletter__background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/images/AdobeStock_316760692 Large.jpeg");
  background-position: center;
  background-size: cover;
  z-index: -1;

  @include size($md) {
    background-attachment: fixed;
  }
}

.newsletter-content {
  display: flex;
  flex-direction: column;
}

.newsletter__title {
  position: relative;
  width: 550px;
  margin-bottom: rem(20px);
  padding: 0;
  font-family: $ff-main;
  font-weight: $fw-med;
  font-size: rem(24px);
  line-height: 1;
  color: $light;
  text-align: center;
  z-index: 1;

  @include size($md) {
    text-align: left;
    font-size: rem(48px);
  }
}

.newsletter-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.newsletter-group {
}

.newsletter-form {
  position: relative;
  display: flex;
  z-index: 1;
}

.newsletter-form__input {
  width: 250px;
  padding: rem(25px 10px);
  border: none;

  @include size($lg) {
    width: 360px;
    border-radius: 5px 0 0 5px;
  }
}

.newsletter-form__button {
  padding: rem(25px);
  background-color: $navy-blue;
  border: 1px solid $navy-blue;
  color: $light;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $light;
    background-color: $ocean-blue;
    border: 1px solid $ocean-blue;
  }

  @include size($lg) {
    padding: rem(25px 50px);
    border-radius: 0 5px 5px 0;
  }
}
