.why-choose-us {
  padding: rem(80px 0 0 0);
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.why-choose-us__container {
  text-align: center;

  @include size($md) {
    padding: 0;
  }
}

.why-choose-us__section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.why-choose-us__section-container--dark {
  background-color: $navy-blue;
  color: #fff;
}

.why-choose-us__title {
  font-family: $ff-main;
  font-weight: $fw-med;
  font-size: rem(24px);
  color: $navy-blue;

  @include size($lg) {
    font-size: rem(48px);
  }
}

.why-choose-us__title--light {
  color: #fff;
}

.text-media {
  display: flex;
  max-width: 1440px;
  gap: rem(50px);
  flex-direction: column;
  padding-bottom: rem(50px);
  opacity: 0;
  visibility: hidden;

  @include size($lg) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    padding: rem(100px);
  }
}

.text-media.flipped {
  @include size($lg) {
    flex-direction: row-reverse;
  }
}

// This is to show text-media since it's hidden by default
.text-media.animate {
  opacity: 1;
  visibility: visible;
}

.text-media.from-left.animate {
  animation: slide-in-left 0.9s ease-out, fade-in 1.7s ease-out;
}

.text-media.from-right.animate {
  animation: slide-in-right 0.9s ease-out, fade-in 1.7s ease-out;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-media__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;

  @include size($lg) {
    width: 50%;
  }
}

.text-media__media-container {
  width: 100%;
  max-height: rem(500px);
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba($dark-gray, 0.25);

  @include size($lg) {
    border-radius: rem(5px);
    aspect-ratio: 1/2;
    // max-height: rem(700px);
  }
}

.text-media__media-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.text-media__text {
  padding: 0 20px;
  font-family: $ff-main;
  text-align: left;

  @include size($lg) {
    padding: 0;
    width: 50%;
  }
}

.text-media__list {
  list-style: none;
  padding: 0 20px;
}

.text-media__list-item {
  padding: rem(10px 0);
  cursor: pointer;
}

.text-media__list-title {
  margin: rem(0 0 10px 0);
  font-size: rem(32px);
  font-weight: $fw-bold;
  color: $dark-gray;
}

.text-media__list-title--light {
  color: #fff;
}

.text-media__list-body {
  font-size: rem(16px);
  font-weight: $fw-light;
  color: $dark-gray;
  line-height: 1.4;

  @include size($lg) {
    font-size: rem(24px);
  }
}

.text-media__list-body--light {
  color: #fff;
}
