.why-choose-us {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  overflow: auto;
  scroll-snap-align: start;

}

.why-choose-us__container {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  @include size($md) {
    padding: 0;
  }
}

.why-choose-us__slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.why-choose-us__slide-container--dark {
  background-color: $navy-blue;
  color: #fff;
}

.why-choose-us__title {
  font-family: $ff-main;
  font-weight: $fw-bold;
  font-size: rem(24px);
  color: $navy-blue;

  @include size($lg) {
    font-size: rem(48px);
  }
}

.why-choose-us__title--light {
  color: #fff;
}

.text-media {
  display: flex;
  max-width: 1440px;
  gap: rem(50px);
  flex-direction: column;
  background-color: #fff;

  @include size($lg) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    padding: rem(0 100px);
  }
}

.text-media__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include size($lg) {
    width: 50%;
  }
}

.text-media__media-container {
  max-width: rem(400px);
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  border-radius: rem(20px);
  box-shadow: 5px 5px 10px rgba($dark-gray, 0.25);
}

.text-media__media-image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.text-media__text {
  width: 100%;
  font-family: $ff-main;
  text-align: left;

  @include size($lg) {
    width: 50%;
  }
}

.text-media__list {
  list-style: none;
  padding: 0 20px;
}

.text-media__list-item {
  padding: rem(10px 0);
  cursor: pointer;
}


.text-media__list-title {
  margin-top: 0;
  font-size: rem(32px);
  font-weight: $fw-light;
  color: $dark-gray;
}

.text-media__list-body {
  font-size: rem(24px);
  font-weight: $fw-light;
  color: $dark-gray;
  line-height: 1.4;
}